# packages required to develop, build, and test

black
check-manifest
flake8
isort
pip
pre-commit
pylint
pyproject-flake8
setuptools
tox
twine
wheel

# needed for comparison benchmarks
coincurve
secp256k1
